<div class="message" data-session="<%= session[:user_id] %>">
  <% user = User.find_by(id: @messages.from_user_id) %>
  <p class="<%= @messages.id %>" id="message_sender"><%= user.name %></p>
  <p class="<%= @messages.id %>" id="message_content"><%= @messages.content %></p>
</div>