<aside class="col-md-4">
  <% if !current_user?(@user) && logged_in? %>
    <section class="message_box">
      <div id="messages">
        <ul>
          <% @messages.each do |ms| %>
            <% if ms.from_user != @user %>
              <div class="messages_content messages_content-left">
                <li class="txt-lrg"><%= ms.content %></li>
                <li><%= ms.from_user.name %></li>
                <li><%= ms.created_at %></li>
              </div>
            <% else %>
              <div class="messages_content messages_content-right">
                <li class="txt-lrg"><%= ms.content %></li>
                <li><%= ms.from_user.name %></li>
                <li><%= ms.created_at %></li>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>
    <div class="message_form">
      <%= form_for(message=Message.new, url: messages_path) do |f| %>
        <%= f.label :content %>
        <%= f.text_field :content %>

        <%= hidden_field_tag :to_user_id, @user.id %>
        <%= hidden_field_tag :room_id, @room_id %>
        
        <%= f.submit "送信" %>
      <% end %>
    </div>
  <% end %>
</aside>