<!DOCTYPE html>
<html>
  <head>
    <title>LineApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="basicBlock">
      <div class="head flex alignItems-center justifyContent-center">
        <% if !@user.nil? %>
          <%= @user.name %>
        <% end %>
      </div>
      <div class="contents flex">
        <div class="contents_sidebar">
          <%= render "contents/sidebar" %>
        </div>

        <div class="contents_main">
          <%= yield %>
        </div>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>


