<!DOCTYPE html>
<html>
  <head>
    <title>LineApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="basicBlock">
      <div class="head flex alignItems-center justifyContent-center">
        <% if logged_in? %>
          <%= current_user.name %>
        <% end %>
      </div> 
      <div>
        <% flash.each do |type, ms| %>
          <p><%= ms %></p>
        <% end %>
      </div>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
